<h1>You played paper!</h1>

<% @computer_move = ["rock", "paper", "scissors"].sample %>

<p>They played <%= @computer_move %>!</p>

<% if @computer_move == "paper" %>
  <p>We tied!</p>
<% elsif @computer_move == "scissors" %>
  <p>We lost!</p>
<% else %>
  <p>We won!</p>
<% end %>

<hr>
<p><a href="/">Rules</a></p>
<p><a href="/rock">Play Rock</a></p>
<p><a href="/paper">Play Paper</a></p>
<p><a href="/scissors">Play Scissors</a></p>
